
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:coral;
    font-family: 'Times New Roman', Times, serif;
}

.form-container{
    background-color: rgb(220, 223, 134);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.form-container input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.message{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.form-container button{
    padding: 10px;
    width: 100%;
    background-color: darksalmon;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.message.sucess{

    background-color: blanchedalmond;
    color: chartreuse;
}

.message.error{
    background-color:rgb(230, 201, 11);
    color: rgb(254, 0, 0);
}